body{
    background-image: url(https://i.pinimg.com/originals/4e/94/7a/4e947afe00fb849dd5796dcf5f63d9e6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .register-page{
    background-color: white;
    width: 500px;
    height: 485px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 24%) 1px 1px 10px;
  }
  
  .register-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-input{
    width: 60%;
  }
  
  .register-image{
    width: 340px;
    height: 485px;
    object-fit: cover;
  }
  
  .signin-register{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  
  .register-container{
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
  
  .register-heading{
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .fp-heading{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 18px;
  }
  
  .rp-heading{
    margin: 0px;
    padding: 0px;
    margin-top: 22px;
    margin-bottom: 15px;
  }
  
  .login-container{
    display: flex;
    justify-content: center;
    margin-top: 110px;
  }
  
  .login-page{
    background-color: white;
    width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 24%) 1px 1px 10px;
  }
  
  .login-page-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .login-input{
    width: 60%;
  }
  
  .forgot-signin{
    text-align: center;
    margin: 0%;
    padding: 0%;
  }
  
  .signup-signin{
    text-align: center;
    padding: 0%;
    margin-top: 12px;
  }
  
  .login-image{
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
  
  .fp-container{
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }
  
  .fp-page{
    background-color: white;
    width: 400px;
    height: 385px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 24%) 1px 1px 10px;
  }
  
  .fp-page-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .fp-content{
    margin-left: 20px;
    margin-right: 18px;
    margin-bottom: 25px;
    margin-top: 0px;
    padding: 0%;
    font-weight: 600;
  }
  
  .fp-image{
    width: 285px;
    height: 385px;
    object-fit: cover;
  }
  
  .fp-error{
    color: red;
    margin-bottom: 15px;
    padding: 6px;
    font-weight: 500;
    border: 1px solid red;
  }
  
  .success-message{
    color: green;
    margin-bottom: 10px;
    padding: 6px;
    font-weight: 500;
    border: 1px solid green;
  }
  
  .error-message{
    color: red;
    margin-bottom: 15px;
    padding: 6px;
    font-weight: 500;
    border: 1px solid red;
  }
  
  .login-error{
    color: red;
    margin-bottom: 15px;
    padding: 6px;
    font-weight: 500;
    border: 1px solid red;
  }
  
  .register-error{
    color: red;
    margin-bottom: 18px;
    padding: 6px;
    font-weight: 500;
    border: 1px solid red
  }
  
  .login-heading{
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 15px;
  }
  
  .rp-content{
    padding: 0%;
    margin: 0%;
    margin-bottom: 18px;
    font-weight: 500;
  }
  
  .blog-toolbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .blogs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .ps-background {
    background-image: url(https://wallpaperaccess.com/full/537091.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    object-fit: cover;
  }
  
  .icons{
    display: block;
    margin-left: auto;
  }
  
  .home-content{
    text-align: center;
    font-size: 40px;
  }
  
  .appbar{
    margin: 0px;
    padding-bottom: 65px;
  }
  
  .blogs-background{
    background-image: url(https://wallpapercave.com/uwp/uwp1538076.jpeg);
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  .add-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 470px;
    border-radius: 12px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(70, 68, 68, 0.24) 1px 2px 13px;
    margin-top: 40px;
  }
  
  .input-field {
    width: 300px;
  }
  
  .add-background{
    background-image: url(https://images8.alphacoders.com/692/692904.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  .button-container{
    display: flex;
    gap: 10px;
  }
  
  .add-heading{
    margin: 0px;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 22px;
  }
  
  .edit-background{
    background-image: url(https://images.wallpaperscraft.com/image/single/sky_nature_river_landscape_90818_1920x1080.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  .edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(70, 68, 68, 0.24) 1px 2px 13px;
    margin-top: 40px;
  }